
.icon-delete,#suspension-search .arrow,.post-content-top .icon-vip,.post-content-top .icon-manage,.icon-authentication,.post-content-top .icon-call,
.post-content-top .icon-weixin-kefu,.post-content-top .icon-more,.post-label li,.icon-manage02,.big-share-bt,.function-bt .icon-poster-location,
.icon-poster-more,.icon-poster-save,.big-reward-bt,.big-reward-bt{
	background-image: url(../img/post-pic02.png);
	background-size: 13.33rem;
	background-repeat: no-repeat;
}

.post-content-top{
	background: #fff;
	padding: .533rem .4rem .2667rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    position: relative;
}

.post-content-top .post-head{
	width: 1.2rem;
	height: 1.2rem;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	position: relative;
	box-sizing:border-box;
	margin: 0 .213rem 0 0;
}

.post-content-top .pic01{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.post-content-top .icon-vip,.post-content-top .icon-manage{
	width: .426rem;
	height:.426rem;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.post-content-top .icon-vip{background-position: -3.786rem 0}

.post-content-top .icon-manage{background-position: -8.026rem 0}

.post-content-top .little-infor .first-posting{
	border-left: 1px solid #888;
	padding: 0 0 0 .106rem;
	margin: 0 0 0 -.106rem;
	position:relative;
	display: block;
	margin-right: 0;
}

.post-content-top .right .person-infor{
	line-height: .426rem;
	height: .426rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.first-posting:before{
	content: "";
	width: 1px;
	height: 0.267rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.post-content-top .little-infor{margin:0.133rem 0 0 0;overflow: hidden;line-height: 1.25}

.post-content-top .little-infor i{float: left;display: block;margin-right: 0.24rem}

.post-content-top .right{    
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: .267rem
   }

.post-content-top .right .name{
	font-size: 0.4rem;
	display: block;	
}

.icon-grade{
	height: .426rem;
    padding: 0 0.08rem;
    color: #fff;
    line-height: .4266rem;
    font-size: 0.267rem;
    margin:-.053rem 0 0 .267rem;
    display: block;
    float: left;
    border-radius: 1px;
}

.person-infor .zhuanjia{
	color: #FFAE00;
	margin: 0 0 0 .133rem;
	font-size:.32rem;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-height:.426rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


/*.post-content-top .authentication-f{
	color: #FFAE00;
	margin: 0 0 0 .133rem;
	font-size:.32rem;
	overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-height:.426rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}*/

.icon-authentication{ 
	width: 0.64rem;
	height: .293rem;
	display:inline-block;
	margin: .053rem 0 0 .064rem;
	background-position: -10.18rem 0;
	vertical-align: -.0267rem
}


.post-content-top .icon-call,.post-content-top .icon-weixin-kefu{
	width: 1.49rem;
	height: 0.67rem;
	display: block;
}

.post-content-top .icon-call{background-position:-7.76rem -1.28rem;}

.post-content-top .icon-weixin-kefu{background-position: -5.36rem -1.28rem;}

.post-content-top .icon-more-position{
	position: absolute;
	top:0;
	right: 0.4rem;
	padding: 0.346rem .4rem .186rem .267rem;
}

.post-content-top .icon-more{
	width: .373rem;
	height: .106rem;
	display: block;
	background-position:-4.346rem -0.453rem;
}

.post-label{position: absolute;top: 0;right:1.733rem;width:5.86rem;height:0.48rem;}

.post-label li{height: 0.48rem;width:1.25rem;display: block;float:right;margin-left: 0.08rem;}

.post-label li:last-child{margin-left:0;}

.post-label .icon-huo{background-position:-6.826rem -.72rem;}

.post-label .icon-jing{background-position:-4.05rem -.72rem;}

.post-label .icon-tui{background-position:-8.21rem -.72rem;}

.post-label .icon-ding{background-position:-5.44rem -.72rem;}

.icon-manage02{width: .906rem;height: .373rem;display: block;float: left;background-position: -10.85rem 0;margin: 0 0 0 .133rem;}

.focus-ta-bt{
	color: #0096FF;
	width: 5.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	background: rgba(0,150,255,.1);
	border-radius: 1.3rem;
}

.post-detail-content{padding:0 1.5rem 1.5rem;background:#fff;line-height:1.8;font-size: 1.4rem;}

.post-detail-content .title{font-weight: bold;font-size: 1.5rem;}

.post-detail-content img{display: block;width: 100%;margin: .6rem 0 0}

.big-share-bt{width: 4.8rem;height: 4.8rem;margin:0 auto .6rem;background-position:-6.1rem -2.3rem;}

.function-bt .icon-poster-location{
	width:1.1rem;
	height: 1.3rem;
	display: inline-block;
	background-position: -10.9rem -2.7rem;
	margin: 0 .4rem 0 0;
	vertical-align: -.2rem;
}

.icon-poster-more{
	width: 1.4rem;
	height: 1.3rem;
	display: inline-block;
	margin-right: .4rem;
	background-position: -12.1rem -2.7rem;
	vertical-align:-.2rem;
}

.icon-poster-save{
	width: 1.4rem;
	height: 1.3rem;
	display: inline-block;	
	margin-right: .4rem;
	background-position: -13.6rem -2.7rem;
	vertical-align:-.2rem;
}

.function-bt{
	font-size: 1.2rem;
	height: 4.1rem;
	line-height: 4.1rem;
	margin:2rem 0 0;
}

.big-reward-bt{
    width: 4.8rem;
    height: 4.8rem;
    margin: 0 auto .6rem;
    background-position: -6rem -7rem;
}

.reward-head{overflow: hidden;}

.reward-head img{
	width: 3rem;
	height: 3rem;
	display: block;
	border-radius: 50%;
	margin:1rem 1rem 0 0;
	float: left;
}

.examine-ing{overflow: hidden;margin: 0 0 0.133rem;}

.examine-ing i{
	padding: 0 0.133rem;
	font-size:0.32rem;
	background: rgba(0,150,255,.1);
	color:#0096ff;
	display: block;
	float: left;
}



/*2019.8.13新增*/
.toutiao-cell{
	padding-top:.4rem;
}

.toutiao-cell .pic-ul{overflow: hidden;}

.toutiao-cell .pic-ul li{
    width: 32%;
    overflow: hidden;
    margin-top: 2%;
    float: left;
    position: relative;
    margin-left:2%;
    padding-top: 32%;
}

.toutiao-cell .pic-ul li img {
    position: absolute;
    top: 0;
    left: 0;
}

.toutiao-cell .pic-ul li:first-child {
    margin-left: 0%;
}

.toutiao-cell .pic-ul li .more {
    display: block;
    padding: 0 .213rem;
    background:#bfbfbf;
    color: #fff;
    font-size: .32rem;
    position: absolute;
    bottom: .267rem;
    right: .267rem;
	height: .5rem;
	line-height: .5rem;
	border-radius:.24rem;
}

.toutiao-cell .bottom{
	margin:.4rem 0 0;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
	display: flex;
	align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.toutiao-cell .title{
	font-size: .426rem;
	line-height: 1.5;
	font-weight: bold
}

.toutiao-cell .play-bt{
	display: block;
	position:absolute;
	width: 1.6rem;
	height: 1.6rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

.toutiao-cell .video-pic{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.toutiao-cell .video-all{
	background: #787878;
	padding:57.3% 0 0;
	margin: .267rem 0 0;
}

.toutiao-cell .zhiding,.toutiao-cell .jinghua,.toutiao-cell .tuijian,.toutiao-cell .remen{
	padding: 0 .133rem;
	height: .48rem;
	line-height:.48rem;
	border-radius:2px;
	background: linear-gradient(to right,#FF667F,#FF042E);
	font-size: .346rem;
	color: #fff;
	margin: 0 .267rem 0 0;
}

.toutiao-cell .jinghua{
	background: linear-gradient(to right,#667FFF,#3456FF);
}

.toutiao-cell .tuijian{
	background: linear-gradient(to right,#65BFFF,#0798FF);
}

.toutiao-cell .remen{
	background: linear-gradient(to right,#FF8F38,#FF4D0F);
}


.toutiao-cell .title .f02{
	color:#888;
	font-weight: normal;
	margin: .213rem 0 0;}

.toutiao-cell .bankuai{
	font-size: .346rem;
	color:#0096FF;
	position:relative;
	height: .48rem;
	line-height: .48rem;
	padding: 0 .133rem;
	max-width:2.6rem;
}

.toutiao-cell .watch,.toutiao-cell .date{
	margin: 0 .267rem 0 0;
	font-size:.346rem;
	color: #888
}

.toutiao-cell .bankuai:before{
	content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #0096FF;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;}

.big-reward-bt.active{background-position:-1.65rem -4.45rem;}

.big-post-bt{
	width: 1.28rem;
    height: 1.28rem;
    margin: 0 auto .16rem;
	background-position:-1.65rem -3.17rem;}

.reward-head{margin:.533rem 0 0;}

.reward-head.top-line:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #f6f6f6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);}

.reward-people{color:#888;margin:.32rem 0 0;}

/*2019.9.23*/
#suspension-search{
	padding: .267rem 0;
	background: #fff;
	box-sizing: border-box;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

#suspension-search .arrow-all{padding: 0 .4rem;}

#suspension-search .arrow{
	width: .293rem;
	height: .48rem;
	display: block;
	background-position: 0 0;

}

#suspension-search .left{position: relative;}

#suspension-search input{
	padding: 0 .4rem;
	width: 100%;
	height: .93rem;
	background-color: #F5F6F7;
	cursor:pointer;
	border-radius:.48rem;
	color: #333;
	font-size: .373rem;
	box-sizing: border-box;
}

#suspension-search .bt{
	line-height: .933rem;
	height: .933rem;
	padding: 0 .533rem;
	text-align: center;
	cursor:pointer;
	color: #0096FF;
	display: block;
	font-size: .373rem;
}

.search-record-ul{
	padding: 0 .267rem .267rem .133rem;
	box-sizing: border-box;
	overflow: hidden;
}

.search-record-ul li{
	display: block;
	padding:0 .32rem;
	font-size:.346rem;
	margin: .267rem 0 0 .267rem;
	background: #F3F3F3;
	height: .67rem;
	line-height: .67rem;
	border-radius:.34rem;
	float: left;
}

.icon-delete{
	width: .4rem;
	height: .4rem;
	display: block;
	background-position:-3.28rem -2.186rem; 
}

.search-record{
	padding: .4rem .4rem .133rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}
