.icon-delete,#suspension-search .arrow{
    background-image: url(../img/post-pic02.png);
    background-size: 500px;
    background-repeat: no-repeat;
}


/*2019.9.23*/
#suspension-search{
	padding: 10px 15px 10px 0;
	background: #fff;
	box-sizing: border-box;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

#suspension-search .arrow-all{padding: 0 15px;}

#suspension-search .arrow{
	width: 11px;
	height: 18px;
	display: block;
	background-position: 0 0;

}

#suspension-search .left{position: relative;}

#suspension-search input{
	padding: 0 15px;
	width: 100%;
	height: 35px;
	background-color: #F5F6F7;
	cursor:pointer;
	border-radius: 18px;
	color: #333;
	font-size: 14px;
	box-sizing: border-box;
}

#suspension-search .bt{
	line-height: 35px;
	height: 35px;
	padding: 0 0 0 15px;
	text-align: center;
	cursor:pointer;
	color: #0096FF;
	display: block;
	font-size: 14px;
}

.search-record .bold{
	font-size:15px;
	font-weight: bold;
}

.search-record-ul{
	padding: 0 10px 10px 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.search-record-ul>li>a{color: #333}

.search-record-ul li{
	display: block;
	padding:0 12px;
	font-size:13px;
	margin: 10px 0 0 10px;
	background: #F3F3F3;
	height: 25px;
	line-height: 25px;
	border-radius: 13px;
	float: left;
}

.icon-delete{
	width: 15px;
	height: 15px;
	display: block;
	background-position:-123px -82px; 
}

.search-record{
	padding: 15px 15px 5px;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}


#suspension-search-all{
   position: fixed;
   background: #fff;
   bottom: -100%;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 100;
}

.searchUp{
    animation: searchUp .4s linear forwards;
    -webkit-animation: searchUp .4s linear forwards;
}

@keyframes  searchUp{
    0%{bottom:-100%;}
    100%{bottom:0;}
}


@-webkit-keyframes  searchUp{
    0%{bottom:-100%;}
    100%{bottom:0;}
}

