<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="x5-page-mode" content="app">
    <title>会员详情</title>
    <link rel="stylesheet" href="https://j.vzan.cc/content/bbs/css/common.css">
    <link rel="stylesheet" href="https://j.vzan.cc/content/minisns/css/swiper.min.css">
    <link rel="stylesheet" href="../../css/nav.css">
    <style>
        [v-cloak] { display: none }
        .icon02 { background-image: url(../img/vip01.png); background-size: 50rem; background-repeat: no-repeat; }
        .select-nav { height: 4.4rem; line-height: 4.4rem; background: #0095FF; }
        .select-nav > .flex { text-align: center; font-size: 1.6rem; color: #fff; position: relative; border-radius: .2rem; }
        .select-nav > .flex i { position: absolute; bottom: 0; left: 50%; transform: translate(-50%,0); width: 2.4rem; height: .4rem; border-radius: .4rem; background: #fff; display: none; }
        .select-nav > .flex.active { font-weight: bold }
        .select-nav > .flex.active i { display: block; }
        .ranking-cell { padding: 0 1.5rem 0 0; height: 7.4rem; line-height: 1.3; background: #fff; }
        .ranking-cell .left { width: 5.6rem; padding: 0 0 0 1.5rem; }
        .ranking-cell .f01 { height: 1.8rem; overflow: hidden; }
        .ranking-cell .head { width: 5rem; height: 5rem; margin: 0 1rem 0 0; position: relative; border: 1px solid #fff; border-radius: 50%; }
        .ranking-cell .head .icon-vip { width: 1.6rem; height: 1.6rem; display: block; position: absolute; bottom: 0; right: 0; }
        .ranking-cell .head .headPic { border-radius: 50%; overflow: hidden; box-sizing: border-box; }
        .ranking-cell .center .f02 { color: #888; margin: .8rem 0 0; }
        .ranking-cell .bt01 { width: 3rem; height: 3rem; display: block; margin: 0 0 0 1rem; }
        .ranking-cell.bottom-line:after { left: 5.6rem }
        .ranking-cell .medal { width: 2.2rem; height: 1.8rem; display: block }
        .ranking-cell .name { max-width: 55%; float: left; }
        .select-list-ul {padding: 1rem; overflow: hidden; line-height: 1.3;padding: 1rem 0 0 1rem;height: 100%;}
        .select-list-ul li {width: 100%;padding: 0 .5rem; box-sizing: border-box; float: left; }
        .select-list-ul li > a { display: block; border-radius: 5px; overflow: hidden; }
        .select-list-ul li img { display: block; width: 100%; }
        .select-list-ul li .bottom { padding: .6rem 1rem 1.5rem; background: #fff; margin: 0 0 1rem; }
        .select-list-ul li .f01 { line-height: 1.6; height: 1.6rem; }
        .select-list-ul li .money { color: #FF4343; font-weight: bold; margin: 1rem 0 0; }
        .icon-grade { height: 1.4rem; padding: 0 .3rem; color: #fff; line-height: 1.4rem; font-size: 1rem; margin: .2rem 0 0 .5rem; display: block; float: left; border-radius: 1px; }
        .ranking-cell .icon-vip, .ranking-cell .icon-manage { width: 1.6rem; height: 1.6rem; display: block; position: absolute; bottom: 0; right: 0; }
        .ranking-cell .sign-bt { margin: 0 0 0 .5rem; font-size: 1.4rem; font-weight: bold; text-align: center; line-height: 3.2rem; border-radius: 1.6rem; height: 3.2rem; padding: 0 1rem; color: #fff; background: linear-gradient(to right, rgb(83, 172, 255), rgb(0, 150, 255)); }
        .ranking-cell.bottom-line { overflow: hidden; }
        .ranking-cell .arrow { display: block; width: 0.7rem; height: 0.7rem; border-top: 1px solid #888; border-right: 1px solid #888; margin: 0px 0.2rem 0px 0.5rem; transform: rotate(45deg); }
    </style>
</head>
<body>
    <div id="vue_vip" v-cloak>
        <div class="fix-tl">
            <div class="d-flex basewrap f16 ta-c bg-f select-nav">
                <div class="flex" :class="{active:selectIndex==index}" v-for="nav,index in navs" @click="checkNav(index)">
                    {{nav.item}}<i></i>
                </div>
            </div>
            <!--通告-->
            <div v-show="openVipSeen">
                <div class="bz" style="height: 7.2rem;background: #0095FF;padding: 3rem 1.5rem 0;">
                    <div class="rel" style="height: 7rem; color: #B47E28;background: #FFE7C1;border-radius:1rem;box-shadow: 0 1px 10px rgba(255, 200,113,.34);">
                        <img src="../img/vip03.png" style="width:9rem;position: absolute;top: 0;left: 50%;transform: translate(-50%,-50%);">
                        <div class="d-flex d-flex-center f12 bz" style="position: absolute;top:50%;padding:0 1.5rem;transform: translate(0,-50%);width: 100%;">
                            <div class="flex" style="line-height: 2">
                                <div class="swiper-container swiper-container-vertical local-life-swiper" style="height: 4.2rem;">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide" style="display:block" v-for="slide in slides">
                                            <p class="clamp1 f12" v-for="item in slide.items">{{item.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a><img src="../img/vip02.png" style="width:4.3rem;display: block;margin:0 0 0 1rem;"></a>
                        </div>
                    </div>
                </div>
                <div style="height: 4.6rem;background:#fff;"></div>
            </div>
        </div>
        <div class="basewrap" :style="{padding:(openVipSeen?'16.2rem 0 8rem':'4.4rem 0 8rem')}">
            <!--会员-->
            <div v-if="selectIndex==0">
                <div v-if="members!==''">
                    <div class="d-flex d-flex-center ranking-cell bz" style="position: relative;z-index: 1;box-shadow: 0 4px 10px rgba(0,0,0,.04)">
                        <div class="f15 bold bz left">{{myMember.number}}</div>
                        <div class="head">
                            <img class="img-wh-100 headPic" :src="myMember.img">
                            <img class="icon-vip" src="../img/vip04.png" v-show="myMember.id==0">
                            <img class="icon-vip" src="../img/vip05.png" v-show="myMember.id==1">
                        </div>
                        <div class="flex center">
                            <p class="f16 bold f01">
                                <i class="clamp1 name">{{myMember.name}}</i>
                                <i class="icon-grade" :style="myMember.level">{{myMember.levelTitle}}</i>
                            </p>
                            <p class="f12 clamp1 f02">{{myMember.title}}</p>
                        </div>
                        <a class="icon02 bt01" :data-clipboard-text="myMember.weChat" style="background-position:0 -3.3rem;" v-show="myMember.weChat!==''"></a>
                        <a class="icon02 bt01" :href="'tel:'+myMember.tel" style="background-position:-3.2rem -3.3rem;" v-show="myMember.tel!==''"></a>
                    </div>

                    <div class="d-flex d-flex-center ranking-cell bottom-line bz" v-for="member,index in members">
                        <div class="f15 bold bz left">
                            <span v-show="index>2">{{index+1}}</span>
                            <i class="icon02 medal" :style="member.medal" v-show="index<3"></i>
                        </div>
                        <div class="head">
                            <img class="img-wh-100 headPic" :src="member.img">
                            <img class="icon-vip" src="../img/vip04.png" v-show="member.id==0">
                            <img class="icon-vip" src="../img/vip05.png" v-show="member.id==1">
                        </div>
                        <div class="flex center">
                            <p class="f16 bold f01">
                                <i class="clamp1 name">{{member.name}}</i>
                                <i class="icon-grade" :style="member.level">{{member.levelTitle}}</i>
                            </p>
                            <p class="f12 clamp1 f02">{{member.title}}</p>
                        </div>
                        <a class="icon02 bt01" :data-clipboard-text="myMember.weChat" v-show="member.weChat!==''" style="background-position:0 -3.3rem;"></a>
                        <a class="icon02 bt01" :href="'tel:'+member.tel" v-show="member.tel!==''" style="background-position:-3.2rem -3.3rem;"></a>
                    </div>
                </div>
                <!--会员无数据-->
                <div v-else>
                    <div class="d-flex d-flex-center ranking-cell bz" style="position: relative;z-index: 1;box-shadow: 0 4px 10px rgba(0,0,0,.04)">
                        <div class="f15 bold bz left">99+</div>
                        <div class="head">
                            <img class="img-wh-100 headPic" :src="myMember.img">
                            <img class="icon-vip" src="../img/vip04.png" v-show="myMember.id==0">
                            <img class="icon-vip" src="../img/vip05.png" v-show="myMember.id==1">
                        </div>
                        <div class="flex center">
                            <p class="f16 bold f01">
                                <i class="clamp1 name">{{myMember.name}}</i>
                                <i class="icon-grade" :style="myMember.level">{{myMember.levelTitle}}</i>
                            </p>
                            <p class="f12 f02">你还未进行个人认证，开通会员免费认证&gt;</p>
                        </div>
                    </div>
                    <div class="bg-f" style="padding: 5rem 0;">
                        <img src="../../img/ranking85.png" style="width: 50%;display:block;margin:0 auto;">
                        <p class="ta-c f14" style="color: #888;margin:1rem;">该论坛还没有会员，你有兴趣成为第一个吗？</p>
                    </div>
                </div>
            </div>

            <!--橱窗-->
            <div v-if="selectIndex==1">
                <!--两列-->
                <div class="d-flex" v-if="commoditys!==''">
                    <ul ref="listOne" class="select-list-ul flex">
                        <li v-for="item in listOne">
                            <a>
                                <img class="head" :src="item.img">
                                <div class="bottom">
                                    <p class="f13 clamp1 f01">{{item.title}}</p>
                                    <p class="money f15">{{item.money}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul ref="listTwo" class="select-list-ul flex">
                        <li v-for="item in listTwo">
                            <a>
                                <img class="head" :src="item.img">
                                <div class="bottom">
                                    <p class="f13 clamp1 f01">{{item.title}}</p>
                                    <p class="money f15">{{item.money}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--无数据-->
                <div class="bg-f" style="padding: 5rem 0;" v-else>
                    <img src="../../img/ranking86.png" style="width: 50%;display:block;margin:0 auto;">
                    <p class="ta-c f14" style="color: #888;margin:1rem;">论坛还没有上架商品</p>
                </div>
            </div>

            <!--粉丝榜-->
            <div v-if="selectIndex==2">
                <div class="d-flex d-flex-center ranking-cell bz" style="position: relative;z-index: 1;box-shadow: 0 4px 10px rgba(0,0,0,.04)">
                    <div class="f15 bold bz left">{{myFans.number}}</div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="myFans.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="myFans.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="myFans.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{myFans.name}}</i>
                            <i class="icon-grade" :style="myFans.level">{{myFans.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02">粉丝：{{myFans.fansNumber}}</p>
                    </div>
                    <i class="arrow"></i>
                </div>

                <div class="d-flex d-flex-center ranking-cell bottom-line bz" v-for="fan,index in fans">
                    <div class="f15 bold bz left">
                        <span v-show="index>2">{{index+1}}</span>
                        <i class="icon02 medal" :style="fan.medal" v-show="index<3"></i>
                    </div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="fan.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="fan.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="fan.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{fan.name}}</i>
                            <i class="icon-grade" :style="fan.level">{{fan.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02">粉丝：{{fan.fansNumber}}</p>
                    </div>
                    <i class="arrow"></i>
                </div>
            </div>

            <!--积分榜-->
            <div v-if="selectIndex==3">
                <div class="d-flex d-flex-center ranking-cell bz" style="position: relative;z-index: 1;box-shadow: 0 4px 10px rgba(0,0,0,.04)">
                    <div class="f15 bold bz left">{{myIntegral.number}}</div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="myIntegral.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="myIntegral.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="myIntegral.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{myIntegral.name}}</i>
                            <i class="icon-grade" :style="myIntegral.level">{{myIntegral.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02">积分：{{myIntegral.integralNumber}}</p>
                    </div>
                    <i class="arrow"></i>
                </div>

                <div class="d-flex d-flex-center ranking-cell bottom-line bz" v-for="integral,index in integrals">
                    <div class="f15 bold bz left">
                        <span v-show="index>2">{{index+1}}</span>
                        <i class="icon02 medal" :style="integral.medal" v-show="index<3"></i>
                    </div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="integral.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="integral.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="integral.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{integral.name}}</i>
                            <i class="icon-grade" :style="integral.level">{{integral.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02">积分：{{integral.integralNumber}}</p>
                    </div>
                    <i class="arrow"></i>
                </div>
            </div>

            <!--签到榜-->
            <div v-if="selectIndex==4">
                <div class="d-flex d-flex-center ranking-cell bz" style="position: relative;z-index: 1;box-shadow: 0 4px 10px rgba(0,0,0,.04)">
                    <div class="f15 bold bz left">{{mySign.number}}</div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="mySign.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="mySign.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="mySign.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{mySign.name}}</i>
                            <i class="icon-grade" :style="mySign.level">{{mySign.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02" v-if="signSeen=false">{{mySign.time}}签到</p>
                        <p class="f12 clamp1 f02" else>未签到</p>
                    </div>
                    <a class="sign-bt" v-show="mySign.signSeen">去签到</a>
                    <i class="arrow" v-show="mySign.signSeen==false"></i>
                </div>

                <div class="d-flex d-flex-center ranking-cell bottom-line bz" v-for="sign,index in signs">
                    <div class="f15 bold bz left">
                        <span v-show="index>2">{{index+1}}</span>
                        <i class="icon02 medal" :style="sign.medal" v-show="index<3"></i>
                    </div>
                    <div class="head">
                        <img class="img-wh-100 headPic" :src="sign.img">
                        <img class="icon-vip" src="../img/vip04.png" v-show="sign.id==0">
                        <img class="icon-vip" src="../img/vip05.png" v-show="sign.id==1">
                    </div>
                    <div class="flex center">
                        <p class="f16 bold f01">
                            <i class="clamp1 name" style="max-width: 60%">{{sign.name}}</i>
                            <i class="icon-grade" :style="sign.level">{{sign.levelTitle}}</i>
                        </p>
                        <p class="f12 clamp1 f02">{{sign.time}}签到</p>
                    </div>
                    <i class="arrow"></i>
                </div>
            </div>
        </div>

        <!--底部导航-->
        <div class="fix-bl" v-if="navSeen==0">
            <ul class="basewrap d-flex newBottomNav">
                <li class="flex">
                    <i class="icon_index"></i>
                    <p>首页</p>
                </li>
                <li class="flex active">
                    <i class="icon_ranking"></i>
                    <p>排行榜</p>
                </li>
                <li class="flex">
                    <i class="icon_post"></i>
                    <p style="color: #262626">发帖</p>
                </li>
                <li class="flex">
                    <i class="icon_type"></i>
                    <p>版块</p>
                </li>
                <li class="flex">
                    <i class="icon_me"></i>
                    <p>我的</p>
                </li>
            </ul>
        </div>

        <div class="fix-bl" v-else="navSeen==1">
            <ul class="basewrap d-flex newBottomNav">
                <li class="flex">
                    <i class="icon_index"></i>
                    <p>首页</p>
                </li>
                <li class="flex active">
                    <i class="icon_ranking"></i>
                    <p>排行榜</p>
                </li>
                <li class="flex">
                    <i class="icon_post"></i>
                    <p style="color: #262626">发帖</p>
                </li>
                <li class="flex">
                    <i class="icon_dynamic"></i>
                    <p>动态</p>
                </li>
                <li class="flex">
                    <i class="icon_me"></i>
                    <p>我的</p>
                </li>
            </ul>
        </div>

        <div class="fix-bl" v-else="navSeen==2">
            <ul class="basewrap d-flex newBottomNav">
                <li class="flex">
                    <i class="icon_index"></i>
                    <p>首页</p>
                </li>
                <li class="flex">
                    <i class="icon_114"></i>
                    <p>行业114</p>
                </li>
                <li class="flex active">
                    <i class="icon_ranking"></i>
                    <p>排行榜</p>
                </li>
                <li class="flex">
                    <i class="icon_dynamic"></i>
                    <p>动态</p>
                </li>
                <li class="flex">
                    <i class="icon_me"></i>
                    <p>我的</p>
                </li>
            </ul>
        </div>

    </div>

    <script src="https://j.vzan.cc/scripts/jquery2.1.4/jquery.min.js"></script>
    <script src="https://j.vzan.cc/fcontent/script/swiper.min.js"></script>
    <script src="https://j.vzan.cc/content/minisns/js/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#vue_vip',
            data: {
                selectIndex: 1,
                openVipSeen: true,
                navSeen: 0,
                listOne: [],
                listTwo: [],
                navs: [
                    { item: '会员' },
                    { item: '商品' },
                    { item: '粉丝榜' },
                    { item: '积分榜' },
                    { item: '今日签到' }
                ],
                slides: [
                    {
                        items: [
                            { content: '恭喜【派大鑫】完成江南皮革公司经理认证' },
                            { content: '恭喜【派大鑫】完成江南皮革公司经理认证' }
                        ]
                    },
                    {
                        items: [
                            { content: '恭喜【派大鑫】完成江南皮革公司经理认证' },
                            { content: '恭喜【派大鑫】完成江南皮革公司经理认证' }
                        ]
                    }
                ],
                myMember: {
                    number: '99+',
                    img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                    id: 0,
                    name: '派大鑫派大鑫派大鑫',
                    title: '赞赏市海底世界汉堡店主席',
                    weChat: 'vzan-20',
                    tel: '',
                    level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                    levelTitle: '青铜玩家'
                },
                commoditys: [
                    { img: 'http://i2.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg', title: '好吃好玩1好吃好玩1好吃好玩1', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/12/16/1539055e33ce84657f4120916346e43404b807.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/12/16/1539055e33ce84657f4120916346e43404b807.jpg', title: '好吃好玩1', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/6/10/1216345d5c250e9880475c8340f3bf3b9c163b.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/6/10/1216345d5c250e9880475c8340f3bf3b9c163b.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/12/16/1539055e33ce84657f4120916346e43404b807.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/6/10/1216345d5c250e9880475c8340f3bf3b9c163b.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/9/3/190653ef8d20f9c56941e59b8788a23a67f5d7.jpg', title: '好吃好玩3', money: '面议' },
                    { img: 'http://i2.vzan.cc/image/jpg/2019/12/9/15493351eae128a2d847ccace8792cff990832.jpg', title: '好吃好玩3', money: '面议' },
                ],
                members: [
                    {
                        medal: 'background-position:-6.4rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        title: '赞赏市海底世界汉堡店主席',
                        weChat: '',
                        tel: '123456789',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    },
                    {
                        medal: 'background-position:-8.8rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        title: '赞赏市海底世界汉堡店主席',
                        weChat: '',
                        tel: '',
                        level: 'background:linear-gradient(to right, #38CEFF, #0096FF)',
                        levelTitle: '青铜玩家'
                    },
                    {
                        medal: 'background-position:-11.2rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        title: '赞赏市海底世界汉堡店主席',
                        weChat: 'vzan-20',
                        tel: '123456789',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    },
                    {
                        medal: '',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        title: '赞赏市海底世界汉堡店主席',
                        weChat: 'vzan-20',
                        tel: '123456789',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    },
                    {
                        medal: '',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        title: '赞赏市海底世界汉堡店主席',
                        weChat: 'vzan-20',
                        tel: '123456789',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    }
                ],
                myFans: {
                    number: '99+',
                    img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                    id: 0,
                    name: '派大鑫派大鑫派大鑫',
                    fansNumber: '12',
                    level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                    levelTitle: '青铜玩家'
                },
                fans: [
                    {
                        medal: 'background-position:-6.4rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        fansNumber: '12',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    }
                ],
                myIntegral: {
                    number: '99+',
                    img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                    id: 0,
                    name: '派大鑫派大鑫派大鑫',
                    integralNumber: '12',
                    level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                    levelTitle: '青铜玩家'
                },
                integrals: [
                    {
                        medal: 'background-position:-6.4rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        integralNumber: '12',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    }
                ],
                mySign: {
                    number: '99+',
                    img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                    id: 0,
                    name: '派大鑫派大鑫派大鑫',
                    time: '00:12:23',
                    level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                    levelTitle: '青铜玩家',
                    signSeen: true
                },
                signs: [
                    {
                        medal: 'background-position:-6.4rem -3.3rem',
                        img: 'http://i2cut.vzan.cc/image/jpg/2019/11/2/144920be2d369e5e04466484e699c460f6bf4e.jpg!200x200',
                        id: 0,
                        name: '派大鑫派大鑫派大鑫',
                        time: '00:12:23',
                        level: 'background:linear-gradient(to right,#D3D0FD,#A39FFB)',
                        levelTitle: '青铜玩家'
                    }
                ]

            },
            methods: {
                checkNav: function (index) {
                    this.selectIndex = index;
                },
                async initView() {
                    var self = this;
                    var leftHeight = self.$refs.listOne.clientHeight;
                    var rightHeight = self.$refs.listTwo.clientHeight;
                    var lHeight = 0;
                    var rHeight = 0;
                    for (var i = 0; i < self.commoditys.length; i++) {
                        var item = self.commoditys[i];
                        if (item) {
                            var height = await self.computeHeight(item.img).then(function (data) {
                                if (data) {
                                    return data;
                                }
                                return 0;
                            });
                            leftHeight = self.$refs.listOne.clientHeight;
                            rightHeight = self.$refs.listTwo.clientHeight;
                            if (leftHeight <= rightHeight) {                                
                                self.listOne.push(item);
                                lHeight += height;
                            } else {                                
                                self.listTwo.push(item);
                                rHeight += height;
                            }
                        }                        
                    }
                },
                async computeHeight(src) {
                    if (src && src != '') {
                        var newImg = new Image()
                        newImg.src = src
                        if (newImg.complete) {
                            return newImg.height;
                        }
                        else {
                            return await new Promise((resolve, reject) => {
                                newImg.onload = function () {
                                    resolve(newImg.height)
                                }
                                newImg.onerror = function () {
                                    resolve(0)
                                }
                            })
                        }
                    }
                },
            },
            mounted: function () {
                var self = this;
                var swiper = new Swiper('.local-life-swiper', {
                    paginationClickable: true,
                    direction: 'vertical',
                    autoplay: 1500,
                    centeredSlides: true,
                    autoplayDisableOnInteraction: false
                });
                self.$nextTick(function () {
                    self.initView();
                });
            },
            created: function () {

            },
            watch: {
                commoditys: function (val) {
                    this.initView();
                },
            }
        });
    </script>
</body>
</html>